* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list_inline {
  list-style: none;
  align-items: center;
}

.relative {
  position: relative;
}

nav img {
  height: 40px;
}

a {
  text-decoration: none;
  color: #000;
  opacity: 0.5;
}

a:hover {
  opacity: 1;
}

.flex {
  display: flex;
}

.container {
  justify-content: space-between;
  width: 80%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.black {
  opacity: 1;
}

.bold {
  font-weight: bold;
  opacity: 1;
}

.list_inline li {
  margin: 20px;
}

.dropdown_menu li {
  margin: 20px 10px;
}

.dropdown_menu {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px #ccc;
  border-radius: 10px;
  line-height: 30px;
  min-width: 155px;
  background-color: #fff;
}

.dropdown_menu ul {
  list-style: none;
}

button {
  border-radius: 10px;
  padding: 15px 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.light {
  background-color: #e6e6e699;
  color: #000;
}

.light:hover {
  background-color: #e6e6e6cc;
}

.dark {
  background-color: #000;
  color: #fff;
}

.dark:hover {
  background-color: #191c1fd6;
}

.active {
  display: block;
}
